<ul class="c-tree">
    <!-- Lines -->

    <ul class="c-tree">
        <li class="c-tree__item c-tree__item--expanded">
            <span class="c-link">Líneas</span>
            <ul class="c-tree">
                <% @lines.each_pair do |name, line| %>
                        <style>
                          <%= ".c-toggle input#checkbox_#{line[:url_name]}:checked+.c-toggle__track {background-color:#{line[:style]['color']};}"%>
                        </style>
                        <label class="c-toggle" >
                          <input class="checkbox-toggle" id="checkbox_<%=line[:url_name]%>" data-line="<%=line[:url_name] %>" type="checkbox" <%= line[:show] ? 'checked' : '' %>>
                            <div class="c-toggle__track">
                                <div class="c-toggle__handle"></div>
                            </div>
                            <%= name %>
                        </label>
                <% end %>
            </ul>
        </li>
    </ul>

    <!-- Plans -->

    <ul class="c-tree">
    <% @plans.each_pair do |name, plan| %>
        <li class="c-tree__item c-tree__item--expandable">
            <span class="c-link"><%= "#{name} #{plan[:year]}" %></span>
            <a class="c-link c-link--secondary" href="<%= plan[:url] %>" target="_blank" + title="Link a la ley">
                <span class="plan-link fa fa-external-link"></span>
            </a>
            <ul class="c-tree" style="display: none;">
                <% plan[:lines].each do |line| %>
                        <style>
                          <%= ".c-toggle input#checkbox_#{line[:parent_url_name]}:checked+.c-toggle__track {background-color:#{line[:style]['color']};}"%>
                        </style>
                        <label class="c-toggle">
                          <input class="checkbox-toggle-plan" id="checkbox_<%=line[:parent_url_name]%>" data-line="<%= line[:parent_url_name] %>" type="checkbox" <%= line[:show] ? 'checked' : '' %>/>
                            <div class="c-toggle__track">
                                <div class="c-toggle__handle"></div>
                            </div>
                            <%= line[:name] %>
                        </label>
                <% end %>
            </ul>
        </li>
    <% end %>
    <ul class="c-tree">
</ul>
