<script src="<%= javascript_path('base.js') %>"></script>
    
<div class="o-grid__cell--width-20 o-grid__cell--hidden o-grid__cell--visible@large o-panel-container">
        <div class="panel-header o-grid__cell o-grid__cell--width-100"> 
            <h2 class="c-heading c-heading--small"><%= @city.name %></h2>
            <div class="c-input-group">
                <button class="c-button c-button--secondary"> <span class="fa fa-play"></span> </button>
                <input id="current-year" class="c-field" type="number" /> 
            </div>
            <input type="range" class="c-range" />
            <span id="km-total" class="c-badge c-badge--primary"></span>
            <span id="km-operating" class="c-badge c-badge--success"></span>
            <span id="km-under-construction" class="c-badge"></span>
        </div>
        <div class="lines-toggler-container">
            <%= erb :"city/lines_toggler" %>
        </div>
</div>
<main class="o-grid__cell o-grid__cell--width-80@large o-panel-container">
<div class="spinner-container"></div>
<div id="map"></div>
</main>

<script>
    (function(){
      var MapLoader = function(config){
        this.deferred = new $.Deferred();
        var self = this;
          mapboxgl.accessToken = <%= MAPBOX_ACCESS_TOKEN.to_json %>;
          var map = new mapboxgl.Map({
            container: 'map',
            style: <%= MAPBOX_STYLE.to_json %>,
            center: config.coords,
            zoom: config.zoom,
            bearing: config.bearing
          });

          map.addControl(new mapboxgl.Navigation()); 
          map.on('load',function(){
            self.deferred.resolve(map);
          });

          map.on('moveend',function(){
            save_params(null,map);
          });
      };


      $(document).ready(function(){
        $(".spinner-container").show().addClass('spinner');

        var config = <%= @config.to_json %>;;

        var m = new MapLoader(config);

        var lines = <%= @lines.to_json %>;
        var lineFeaturesByYear = <%= @city.line_features_by_year.to_json %>;
        var plans = <%= @plans.to_json %>;
        var style = <%= @city.style.to_json %>;

        $.when(m.deferred)
        .then(function(map){
            window.app = new App(config,
                            lines,
                            lineFeaturesByYear,
                            plans,
                            map,
                            style,
                            function(){
              $(".spinner-container").fadeOut();
              $(".footer").show();
              $(".current-year-container").fadeIn();
          });
        });
      });
    })();
</script>
