<script src="<%= javascript_path('bundle.js') %>"></script>
<div class="spinner-container spinner"></div>
<div id="panel">
        <div class="panel-header o-grid__cell o-grid__cell--width-95"> 
            <h3 class="c-heading"><%= @city.name %></h3>
            <div class="c-input-group c-input-group--right">
              <div class="o-field">
                <input id="current-year" class="c-field" type="number" /> 
              </div>
              <button id="action" class="c-button c-button--ghost"> <span class="fa fa-play"></span> </button>
            </div>
            <input id="slider" type="range" class="c-range" />
            <span id="km-total" class="c-badge c-badge--primary" style="display:none;"></span>
            <span id="km-operating" class="c-badge c-badge--success" style="display:none;"></span>
            <span id="km-under-construction" class="c-badge" style="display:none;"></span>
        </div>
        <div class="lines-toggler-container">
            <%= erb :"city/lines_toggler" %>
        </div>
</div>
<main class="o-grid__cell o-grid__cell--width-100 o-panel-container">
<div id="map"></div>
</main>

<script>

window.onload = function() {
  var config = <%= @config.to_json %>;

  var lines = <%= @lines.to_json %>;
  var plans = <%= @plans.to_json %>;
  var style = <%= @city.style.to_json %>;

  var mapboxAccessToken = <%= MAPBOX_ACCESS_TOKEN.to_json %>;
  var mapboxStyle = <%= MAPBOX_STYLE.to_json %>;

  loadApp(lines, plans, style, config, mapboxAccessToken, mapboxStyle);
}
</script>
